html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

.full-width-image img {
    width: 100%;
    height: auto;
    display: block;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    display: -webkit-flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

button,
input,
select {
    outline: none;
    font-family: 'Poppins', sans-serif;
}

button,
.btn,
select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}

p {
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    opacity: .6;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}

.btn,
button,
.actionbg,
input {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
}

.btn:hover,
button:hover {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

.wrapper {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 1200px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .wrapper {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.wrapper-full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*-- //wrapper start --*/

/*-- form styling --*/
.w3l-mockup-form {
    position: relative;
    min-height: auto;
    z-index: 0;
    padding: 20px;
    justify-content: center;
    display: grid;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: auto;
}

.w3l_form {
    padding: 0px;
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    padding: 100px 50px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.content-wthree {
    flex-basis: 60%;
    -webkit-flex-basis: 60%;
    box-sizing: border-box;
    padding: 1em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.w3l-workinghny-form .logo {
    text-align: center;
}

.w3l-mockup-form .main-mockup {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 40px 0;
}

.w3l-mockup-form form {
    margin-top: 30px;
    margin-bottom: 30px;
}

.instagram-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.instagram-icon {
    width: 30px;
    height: 30px;
}

.instagram-contact p {
    margin: 0;
}

.w3l-mockup-form h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #3b3663;
}

.w3l-mockup-form h2 {
    display: inline-block;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #8c2b2b;
}

.w3l-mockup-form input[type="text"],
.w3l-mockup-form input[type="tel"],
.w3l-mockup-form input[type="ig"],
.w3l-mockup-form input[type="email"] {
    outline: none;
    margin-bottom: 25px;
    font-size: 16px;
    color: #999;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #e5e5e5;
}

.w3l-mockup-form button {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #8c2b2b;
    border: none;
    padding: 14px 15px;
    font-weight: 500;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.w3l-mockup-form button:hover {
    background: #55090e;
}

.w3l-mockup-form .social-icons ul li {
    list-style: none;
    display: inline-block;
}

.w3l-mockup-form .social-icons ul li a {
    padding: 8px;
}

.w3l-mockup-form .social-icons ul li a:hover {
    opacity: 0.8;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

.w3l-mockup-form .social-icons ul span.fa {
    color: #696687;
    font-size: 18px;
    opacity: .8;
}

.w3l-mockup-form .social-icons ul li a.facebook span {
    color: #3b5998;
}

.w3l-mockup-form .social-icons ul li a.twitter span {
    color: #1da1f2;
}

.w3l-mockup-form .social-icons ul li a.pinterest span {
    color: #e60023;
}

p.copy-footer-29 a {
    color: #517856;
}

p.copy-footer-29 a:hover {
    color: #00c16e;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

.number-btn {
    padding-top: 15px;
}

.number-btn-group {
    margin-bottom: 30px;
}

.number-btn-group .other-number-box {
    border: 1px solid #e5e5e5;
}

.loc-btn-group {
    margin-bottom: 30px;
}

.number-btn-group {
    display: flex;
    flex-direction: column;
}

.number-btn-group .number-title {
    font-size: 18px;
}

.number-btn-group .number-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.loc-btn-group .loc-title {
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5%;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.custom-radio {
    display: inline-flex;
    align-items: center;
}

.custom-radio label {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
}

.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

.custom-radio label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background: #eee;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.custom-radio input[type="radio"]:checked+label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translate(-50%, -50%);
    height: 12px;
    width: 12px;
    background: #8c2b2b;
    border-radius: 50%;
}

.custom-radio.other-option {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-option-container {
    display: block;
    margin-bottom: 10px;
}

.other-option {
    display: block;
    margin-bottom: 10px;
}

.custom-radio.other-option .other-number-input {
    height: 20px;
    padding: 0 5px;
    vertical-align: middle;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    border-bottom: 1px solid #888;
    border-radius: 0%;
    display: inline-block;
    width: auto;
    max-width: 100px;
}

.number-btn-group .other-option .other-number-input {
    display: none;
    margin-bottom: 20px;
}

.number-btn-group .other-option input[type="radio"]:checked+label+.other-number-input {
    display: inline-block;
    font-size: 10px;
}


.custom-radio.other-option {
    height: 20px;
}

.custom-radio.other-option .other-number-input {
    margin-top: 20px;
    font-size: 10px;
}


/*-- responsive design --*/

@media (max-width:736px) {
    .w3l-mockup-form .main-mockup {
        flex-direction: column;
    }

    .w3l_form {
        order: 2;
        padding: 50px;
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .content-wthree {
        box-sizing: border-box;
        padding: 3em 3.5em;
        margin: auto;
        max-width: 800px;
    }
}

@media (max-width:568px) {
    .w3l-mockup-form h1 {
        font-size: 30px;
    }

    .w3l-mockup-form .main-mockup {
        margin: 30px 0;
    }

    .content-wthree {
        padding: 2.5em;
    }
}

@media (max-width: 415px) {
    .w3l-mockup-form {
        padding: 40px 30px;
    }

}

@media (max-width:384px) {
    .w3l-mockup-form {
        padding: 30px 15px;
    }

    .content-wthree {
        padding: 2em;
    }

    .w3l-mockup-form h1 {
        font-size: 28px;
    }

    .w3l-mockup-form h2 {
        font-size: 22px;
        line-height: 32px;
    }
}